body{
background-color: brown;
}
h1{
    color: blue;
}
h2{
    color: blueviolet;
}
h3{
    color: chocolate;
}
h4{
    color: cyan;
}
h5{
    color: maroon;
}
h6{
    color: mediumslateblue;
    

    }
    p{ 
        color: brown;
    }